body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container {
    text-align: center;
    background-color: darkslategrey;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 880px;
}
section {
    position: relative;
    width: 100%;
}
.header {
    padding: 10px;
    height: 10vh;
}
.header h1 {
    font-weight:800;
}

.main {
    height: 80vh;
}
#game_display {
    padding:30px 0;
    background-color: transparent;
}
#button {
    margin: 10%;
    width: 300px;
    height: 100px;
    font-size: 30px;
    font-weight:bold;
    border:3px solid rgba(0,0,0,.3);
    background-color: rgba(0,0,0,.1);
}

.footer {
    padding: 25px;
    height: 10vh;
}

.hidden {
    visibility: hidden;
}

canvas {
    background-color: rgba(0,0,0,.5);
    border:3px solid rgba(0,0,0,.3);
}

